@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #10101a;
  --primary: #fff;
  --gray: rgba(42, 43, 56, 0.5);
  --light-gray: #ededed;
}

// disabled scroll bar
body::-webkit-scrollbar {
  display: none;
}

// cancel animation on first load
@layer utilities {
  .preload {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
      padding 0s, margin 0s !important;
  }
}
