@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #10101a;
  --primary: #fff;
  --gray: rgba(42, 43, 56, 0.5);
  --light-gray: #ededed;
}

// disabled scroll bar
body::-webkit-scrollbar {
  display: none;
}

// cancel animation on first load
@layer utilities {
  .preload {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
      padding 0s, margin 0s !important;
  }
}

@layer utilities {
  .gradient {
    @apply text-transparent bg-gradient-to-r from-cyan-500 to-violet-500 bg-clip-text bg-[length:400%_400%] animate-gradient;
  }
}

.outlineText:hover {
  color: white;
  transition: all 0.5s ease-in-out;
}

@layer utilities {
  .outlineText {
    font-family: "Lexende Zetta", "Encode Sans Expanded", sans-serif;
    font-size: xx-large;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
}

.activeTextAnimation {
  letter-spacing: 7px;
  opacity: 1;
}

.menu__item {
  transition: transform 0.3s, opacity 0.3s;
}
.slashAnimation::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  width: 3px;
  height: 70%;
  background: white;
  transform-origin: 0 100%;
  transform: rotate(22.5deg) scale3d(1, 0, 1);
  transition: transform 0.3s;
  @media only screen and (max-width: 768px) {
    content: none;
  }
}
@media  (min-width: 900) {

}

.slashAnimation {
  text-transform: uppercase;
  font-weight: bold;
  white-space: wrap;
  align-items: center;
  position: relative;
  margin-left: 2rem;
  padding-left: 3rem;
  opacity: 0;
  transform: translateX(-1rem);
  transition: transform 0.3s, opacity 0.3s;
  @media only screen and (max-width: 768px) {
    padding-left: 0;
    margin-left: 0;
    transform: translateX(0);
  }
}

.menu__item:hover .slashAnimation {
  opacity: 1;
}
.menu__item:hover .slashAnimation::before {
  transform: rotate(22.5deg) scale3d(1, 1, 1);
}


html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }